<header>
    <div class="headertop">

    <div class="logo">
        <span>Maynooth</span></div>

    <div class="searchbar">
        <button><img src="../../assets/icons/search-24px.svg"></button>
        <input type="text" placeholder="Search for Products and Inspiration">
        
    </div>

    <div class="navitems">
        <ul>
            <li><img src="../../assets/icons/navigation-24px.svg"><p>Showroom</p></li>
            <li><img src="../../assets/icons/contact_support-24px.svg"><p>Contact</p></li>
            <li><img src="../../assets/icons/user-solid.svg"><p>Account</p></li>
            <li><img src="../../assets/icons/shopping_basket-24px.svg"><p>Basket</p></li>
        </ul>
    </div>
</div>
<div class="headerbottom">
    <ul>
        <li>Living Room</li>
        <li>Bedroom</li>
        <li>Kitchen & Dining</li>
    </ul>
</div>
</header>